# ============================================================
# N2M SLA - Configuracao do Banco MySQL
# ============================================================

# Dados de acesso ao MySQL (Workbench)
DB_HOST=n2m.lupus.intranet
DB_PORT=3306
DB_USER=recebimento
DB_PASSWORD=m2bab
DB_NAME=bdsi08common

# Configuracao do Servidor Node.js
PORT=3001
