# ============================================================
# N2M SLA - Configuracao do Banco MySQL
# ============================================================

# Dados de acesso ao MySQL (Workbench)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Configuracao do Servidor Node.js
PORT=
